body {
    margin: 0;
    background-color: #000304;
    color: white;
    font-family: Sora;
    font-size: 15px;
}

.banner {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


.ranking {
    display: flex;
    flex-direction: row;             
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;             
    justify-content: center;
    align-items: center;     
}

.content .loading img {
    width: 50px;
    height: 50px;
}

.movie-details {
    display: flex;
    flex-direction: row;
}

.movie-poster {
    border-radius: 10px;
    transition: 0.3s;
}

.movie-poster:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.about-movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    font-size: 24px;
}