body {
    margin: 0;
    background-color: #000304;
    color: white;
    font-family: Sora;
    font-size: 15px;
}

.banner {
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    height: 60px;
    background-color: #ffad00;
    color: black;
    border-radius: 50px;
    font-family: Sora;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graficoGeneros {
    margin-top: 50px;
    width: 70%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    margin-top: 100px;
}

.buscarRegiao {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.buscarRegiao select{
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 20px;
    width: 26%;
    border-radius: 5px;
    background-color: rgba(74, 74, 74, 0.579);
    backdrop-filter: blur(8px);
    color: white;
}

.buscarRegiao select:hover {
    cursor: pointer;
}

.buscarRegiao option {
    background-color: #000304;
    color: white;
    border: none;
}

.buscarRegiao button {
    width: 80px;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d79f17;
    color: white;
}

.buscarRegiao button:hover {
    background-color: #ad7f15;
    cursor: pointer;
}

#locationSelected {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.locationSelected h6{
    margin: 0;
    font-size: 24px;
}

.graficoPizza {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
