@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');  

body {  
    margin: 0;  
    background-color: #000304;  
    font-family: Sora, sans-serif;  
    font-size: 15px;
}  

.cadastro-container, .login-container {  
    display: flex;  
    flex-direction: column;  
    justify-content: center;   
    align-items: center;  
    z-index: 200;  
    width: 30vw;  
    height: 50vh; 
    color: white;  
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 15px 5px 40px rgba(0, 0, 0, 0.7);
    padding: 20px;  
    border-radius: 10px;
}

.cadastro-container {
    height: 60vh;
}

.cadastro-container h2,
.login-container h2 {
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.cadastro-container h4,
.login-container h4 {  
    margin: 10px 0;  
}  

.cadastro-container input,
.login-container input {  
    width: 25vw;
    height: 10px;
    padding: 10px;  
    margin: 10px 0;   
    border: 1px solid #ccc;  
    border-radius: 5px;  
    display: flex;
    justify-content: center;
}  

.cadastro-container button,
.login-container button {  
    width: 100%; 
    text-decoration: none;  
    margin-top: 20px;  
    background-color: #d79f17;  
    color: white;   
    padding: 10px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;   
    display: flex;
    justify-content: center;
}  

.cadastro-container button:hover,
.login-container button:hover {  
    background-color: #ad7f15;   
}  