body {
    margin: 0;
    background-color: #000304;
    color: white;
    font-family: Sora;
    font-size: 15px;
}

.banner {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


.ranking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .loading img {
    width: 50px;
    height: 50px;
}

.movie-details {
    display: flex;
    flex-direction: row;
}

.movie-poster {
    border-radius: 10px;
    transition: 0.3s;
}

.movie-poster:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.about-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    font-size: 24px;
}

.about-movie h4 {
    margin-bottom: 0;
}

.avaliation {
    border: none;
    outline: none;
    font-family: Sora;
    font-size: 15px;
    height: 30px;
    width: 26%;
    border-radius: 5px;
    background-color: rgba(74, 74, 74, 0.579);
    backdrop-filter: blur(8px);
    color: white;
    padding-left: 20px;
}



option {
    font-family: Sora;
    background-color: #000304;
    color: white;
    border: none;
}