@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
body{
    margin :0;
    background-color: #000304;
    font-family: Sora;
    font-size: 15px;
}

.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #ffad00;
}
.banner .bg{
    position: absolute;
    left: -5%;
    bottom: 0;
    width: 120vw;
    height: 120vh;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
    top: 10%;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.banner .bg-1{
    z-index: 1;
    background-image: url('img/0.png');
    top: 0;
}
.banner .bg-2{
    z-index: 2;
    background-image: url('img/1.png');
}
.banner .bg-3{
    z-index: 3;
    background-image: url('img/2.png');
}
.banner .bg-4{
    z-index: 4;
    background-image: url('img/3.png');
}
.banner .bg-5{
    z-index: 5;
    background-image: url('img/4.png');
}
.banner .bg-6{
    z-index: 6;
    background-image: url('img/5.png');
}
.banner .bg-7{
    z-index: 7;
    background-image: url('img/6.png');
    top: -10%;
}
.banner .bg-8{
    z-index: 8;
    background-image: url('img/7.png');
}
.banner .bg-9{
    z-index: 9;
    background-image: url('img/8.png');
    top: -5%;
}
.banner h1{
    z-index: 6;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11rem;
    font-family: 'Pacifico', cursive;
    color: white;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center , rgba(0, 0, 0, 0), 70%, rgba(0, 0, 0, 0.7));
}

.parallax {
    transition: 0.45s;
}

.intro{
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro p{
    width: 700px;
    max-width: 100%;
    text-align: center;
}
.intro button{
    background-color: #ffad00;
    padding: 10px 50px;
    border: 1px solid #000304;
    border-radius: 5px;
    color: white;
    font-family: Sora;
    font-size: 24px;
    box-shadow: 5px 5px 10px 0px black;
}

.intro button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.6s;
}
.animation-show:nth-child(4){
    transition-delay: 0.9s;
}

.categories-title,
.how-it-works h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Sora;
}

.library{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}

.library a{
    text-decoration: none;
    color: white;
}

.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
}

.library img:hover {
    width: 100%;
    height: 600px;
    filter: grayscale(0);
    transition: 0.5s;
}

.paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    font-size: 24px;
    padding: 20px;
    margin: 50px;
    margin-bottom: 120px;
    grid-template-columns: repeat(4, 1fr);
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
    text-align: center;
}

.icon-text i {
    font-size: 40px;
    margin-bottom: 20px; 
}

.icon-text p {
    margin: 10px;
}

.footer {
    font-family: Sora;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffad00;
}

.footer a{
    color: #442f00;
}


@media screen and (max-width: 950px){
    .banner h1{
        font-size: 5rem;
    }

    .library{
        grid-template-columns: repeat(2, 1fr);
    }
    .library img{
        height: 300px;
    }
    .library img:hover{
        height: 400px;
    }

    .paragraph {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 950px) and (max-width: 1300px) {
    .banner h1 {
        font-size: 6rem;
    }
}