@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

header {
    width: 100%;
    background-color: #ffae0000;
    position: fixed;
    z-index: 1000;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-items {
    display: flex;
    flex-direction: row;
}

header ul {
    list-style: none;
    z-index: 101;
}

nav {
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

header ul li a{
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
}

a:hover {
    color: antiquewhite;
}

.searchMovie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.searchMovie a {
    text-decoration: none;
    color: white;
}

.searchMovie input {
    width: 80%;
    height: 4vh;
    border-radius: 5px;
}

.button-search {
    width: 80px;
    height: 30px;
    border: 1px solid #000304;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: Sora;
}

.button-search:hover{
    background-color: rgb(159, 1, 1);
    cursor: pointer;
}