@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: #000304;
    font-family: Sora;
    font-size: 24px;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.content {
    margin-top: 50vh;
    height: 50vh;
    width: 100%;
    z-index: 1;
    color: white;
    background-color: #000304;
    background: linear-gradient(
        to bottom,
        #00030400,
        40%,
        #000304
    );

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.content .text-content {
    padding-left: 50px;
}